series: jammy

applications:
    containerd:
        series: focal
    easyrsa:
        series: focal
    flannel:
        series: focal
    kubernetes-master:
        series: focal
    kubernetes-worker:
        series: focal

